<article class="fighters">
<h2>Peleadores</h2>
<div class="line"></div>
<div class="contenido">
  <div class="head">
	<h4 style="text-align:center">Con&oacute;celos</h4>
  </div>
<br />
<% Perfil.find(:all).each do |perfil| %>
  <div class="fila">
   <article class="subA">
    <p>
    <p id="idt"><%= link_to perfil.username, perfil %></p> 
    <% if perfil.avatar.exists? then %>
    <span id="avt"><%= image_tag perfil.avatar.url(:thumb) %></span>
    <% else %>
    <p id="avt"><b>Ups, No posee Avatar.</b></p>
    <% end %>
    <span id="msj"><%= perfil.mensaje_personal %></span>
    </p>
   </article>
  </div>
<% end %>
</div>     
</article>
